<div ng-show="show" class="container-fluid">
	<div id="first-level-options" class="col-xs-12">
	    <div landingTitleToggle class="col-xs-12">
	        <h1>Choose one of the following</h1>
	    </div>

	    <div ng-repeat="button in buttons" class="landing-options col-xs-4 col-sm-3 col-sm-offset-1 col-">
	        <a id="{{ button.id }}" ng-click="executeFn(button.handler)" >    
	            <img class="icon" ng-src="{{ button.iconUrl }}" alt="">
	        	<titletoggle/>
	        </a>
	    </div>
	</div>

</div>

<div ui-view></div>
