
 <div ng-show="result" class="container-fluid">
    <div class="result col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
        <div ng-show="showDistance" class="col-xs-2">
            <h5>{{ result.Distance }} miles</h5>
        </div>

        <div class="col-xs-9">
            <a href="{{ result.display.URL }}">
                <h5>{{ result.display.Name }}</h5>
            </a>
            <p ng-show="result.display.Location"> Location of streetworks {{ result.display.Location }} </p>
            <p ng-show="result.display.Description"> <b> Description: </b> {{ result.display.Description }} </p>
            <p ng-show= "result.display.StartDate"> <b> Start Date: </b> {{ result.display.StartDate }} </p>
            <p ng-show= "result.display.EndDate"> <b> End Date </b> {{ result.display.EndDate }} </p>
            <p>{{ result.StreetNum + " " + result.Street }}</p>
            <p>London, {{result.PostCode}}</p>
            <a id="telephone" href= "tel: {{ result.display.Telephone }}"> <p>{{ result.display.Telephone }}</p></a>
            <a ng-show="result.display.URL" href="{{ result.display.URL }}" target="_blank">
                <br><p>{{ result.display.URL }}</p>
            </a>
            <h5 ng-show="result.display.OpeningHours" class="opening-hours">Opening Hours</h5>
            <p>{{ result.display.OpeningHours }}</p>

        </div>


        <div class="glyphicon glyphicon-remove" ng-click="exit()"></div>

    </div>
 </div>
