/***********************************************
*   SERVICES AND CATEGORIES ACCORDIAN
*   Description: for services and categories
*	mixins and variables.
************************************************/

//IMPORTS FILES
@import '../base/colours';


.services-and-categories {
	padding: 0;
	border-bottom: 0.1em solid black;
	background-color: $dark-grey;
	color: $light-blue;
	text-align: center;
	height: 10em;
	h2 {
		margin: 0.7em 0em;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.services-and-categories {
		height: 11em;
	}
}


.arrow-up {
	width: 0;
	height: 0;
	border-left: 2.3em solid transparent;
	border-right: 2.3em solid transparent;
	border-bottom: 2.5em solid $dark-grey;
	position: absolute;
	top: -1.7em;
	left:50%;
	margin-left:-32px;
}

#address-search {
	h2 {
		text-align: left;
	}
	.icon {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

#services {
	img {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

#locations {
	img {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

.visible-item-container {
	padding: 0;
}

.service {
	padding: 0 0 0.5em;
	h4 {
		margin-bottom: 0;
		color: $light-blue;
	}
	p {
		color: white;
	}
	img {
		width: 3em;
		margin: 0 auto;
		display: block;
	}
}

h2 {
	text-align: left;
	margin: 1em 0;
}