/***********************************************
*   SERVICES AND CATEGORIES ACCORDIAN
*   Description: for services and categories
*	mixins and variables.
************************************************/

//IMPORTS FILES
@import '../base/colours';


.services-and-categories {
	width: inherit;
	padding: 0;
	border-bottom: 0.1em solid black;
	color: $light-blue;
	text-align: center;
	h2 {
		margin: 0.7em 0em;
		text-align: center;
		color: $white;
		//font-size: 
	}
	#back {
		width: 2.6em;
	}
}

#find-your-nearest { 
	//margin-top: 1em;
}


@media (max-width: 768px) {
	.services-and-categories {
		h2 {
			margin: 0.3em 0em;
		}
	}
	#find-your-nearest {
		height: 11.5em;
	}
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 2.3em solid transparent;
	border-right: 2.3em solid transparent;
	border-bottom: 2.5em solid $dark-grey;
	position: absolute;
	top: -1.7em;
	left:53%;
	margin-left:-32px;
}

@media (max-width: 768px) {
	.arrow-up {
		border-left: 1em solid transparent;
		border-right: 1em solid transparent;
		border-bottom: 1.3em solid $dark-grey;
		top: -1.2em;
		left: 60%;
	}
}

#address-search {
	h2 {
		text-align: left;
	}
	.icon {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

@media (max-width: 768px) {
	#address-search {
		h1 {
			margin: 0.3em 0;
		}
		.icon {
			width: 2em;
		}
	}
}

#services {
	img {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

.visible-item-container {
	padding: 0;
	width: 100%;
	background-color: $medium-blue;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 1em;
}

.service {
	padding: 0.2em 0;
	width: 100%;
	margin:0;
	border-bottom: solid 0.1em $light-grey;
	h4 {
		margin: 0;
		color: $black;
		font-weight: bold;
	}
	p {
		color: $black;
		margin: 0;
	}
	img {
		width: 2em;
		margin-left: 2em;
		display: inline-block;
		float: left;
	}
}

h2 {
	text-align: left;
	margin: 1em 0;
}

.accordiontext{
	display: inline-block;
	vertical-align: center;
}

