/***********************************************
*   BUTTONS 
*   Description: for button related
*	mixins and variables.
************************************************/

#buttons {
	margin-top: 1em;
	padding: 0;

	@include respond(mobile) {
		margin-top: 0.3em;
	}
	.button {
		padding: 0;
		button {
			border-right: 0.1em white solid;
			border-left: 0.1em white solid;
			border-radius: 0;
			//background-color: $blue;
			font-size: 1em;
			color: white;
			width: 100%;
			// &:hover {
			// 	background-color: $hover-blue;
			// }
			// &:active {
			// 	background-color: $dark-blue;
			// }
			// &:focus {
			// 	background-color: $dark-blue;
			// }


		}
	}
}

.servicestypeahead {
	button {
		background-color: $black;
		span {
			color: white;
			&:hover {
				color: $hover-grey;
				cursor: pointer;
			}
			@include respond(mobile) {
				font-size: 1.4em;
			}	
		}
	}
}

#search, #yourLocation {
	padding: 0;
	max-width: 100%;
	// min-width: 2.3em;

	@include respond(mobile) {
		min-width: initial;
		vertical-align: baseline;
	}
	button {
		width: 100%;
		height: 2em;
		text-align: center;

		@include respond(mobile) {
			width: initial;
		}
		span {
			color: $white;

			@include respond(mobile) {
				font-size: 1.4em;
			}
		}
	}
}

.button {
	padding: 0;
	span {
		right: -6em;
	}
	.list-results {
		border-right: 0.1em white solid;
		border-left: 0.1em white solid;
		border-radius: 0;
		background-color: $blue;
		font-size: 1em;
		color: white;
		width: 100%;
		&:hover {
			background-color: $hover-blue;
		}
	}
}

#back {
	position: absolute;
	top: 0.3em;
	left: 0.3em;
	z-index: 1;
}

#polling-station {
	button {	
		display: block-inline;
		background-color: $blue;
		border-radius: 0.1em;
		color: white;
	}
}

.navigation-arrow {
	margin: 0.9em 0 2.5em;
	padding: 0;
}

#searchbutton {
	background-color: black;
}

.list-toggle-button {
	display: none;
	visibility: hidden;
	background-color: $light-grey;
	width: 2.5em;
	border-radius: 0.1em;
	position: absolute;
	top: 7.5em;
	left: 0.5em;
	box-shadow: 5px 5px 5px #888888;
	padding: 0.2em 0;
	text-align: center;
	border: 0.1em $menu-stroke-grey solid;
	&:hover {
		background-color: $hover-grey;
	}
}

.change-address {
	display: none;
	visibility: hidden;
	p {
		color: #7BBFF7;
	}
}

@media only screen and (max-device-width: 768px) {
	.list-toggle-button, .change-address {
		display: block;
		visibility: visible;
	}
}