/***********************************************
*   BUTTONS 
*   Description: for button related
*	mixins and variables.
************************************************/

//IMPORTS FILES
@import '../base/colours';

#buttons {
	margin-top: 1em;
	padding: 0;
	.button {
		padding: 0;
		button {
			border-right: 0.1em white solid;
			border-left: 0.1em white solid;
			border-radius: 0;
			background-color: $blue;
			font-size: 1em;
			color: white;
			width: 100%;
			&:hover {
				background-color: $hover-blue;
			}
			&:active {
				background-color: $dark-blue;
			}
			&:focus {
				background-color: $dark-blue;
			}
		}
	}
}

@media (max-width: 768px) {
	#buttons {
		margin-top: 0.3em;
	}
}

#search, #yourLocation {
	padding: 0;
	max-width: 100%;
	min-width: 2.3em;
	button {
		width: 100%;
		height: 2em;
		border-left: 0.1em $dark-grey solid;
		background-color: $light-grey;
		text-align: center;
		span {
			color: $dark-grey;
		}
	}
}

@media (max-width: 320px) {
	#search {
		button {
			span {
				left: -0.4em;
			}
		}
	}
	#yourLocation {
		button {
			span {
				left: -0.4em;
			}
		}
	}
}

.button {
	padding: 0;
	span {
		right: -6em;
	}
	.list-results {
		border-right: 0.1em white solid;
		border-left: 0.1em white solid;
		border-radius: 0;
		background-color: $blue;
		font-size: 1em;
		color: white;
		width: 100%;
		&:hover {
			background-color: $hover-blue;
		}
	}
}

#back {
	position: absolute;
	top: 0.3em;
	left: 0.3em;
	z-index: 1;
}

.navigation-arrow {
	margin: 0.9em 0 2.5em;
	padding: 0;
}