/***********************************************
*   BUTTONS 
*   Description: for button related
*	mixins and variables.
************************************************/

//IMPORTS FILES
@import '../base/colours';

//Imports for Gov Files
@import '../../../../node_modules/govuk_frontend_toolkit/stylesheets/colours',
	//below for box shadow and other css3 functions
	'../../../../node_modules/govuk_frontend_toolkit/stylesheets/css3',
	//to normalise old browsers
	'../../../../node_modules/govuk_frontend_toolkit/stylesheets/shims';

#buttons {
	margin-top: 1em;
	padding: 0;
	.button {
		padding: 0;
		button {
			border-right: 0.1em white solid;
			border-left: 0.1em white solid;
			border-radius: 0;
			background-color: $blue;
			font-size: 1em;
			color: white;
			width: 100%;
			&:hover {
				background-color: $hover-blue;
			}
		}
	}
}

#search {
	button {
		color: $dark-grey
	}
}