/***********************************************
*   ERROR MESSAGES
*   Description: for styling error messages
*
************************************************/

//IMPORTS FILES
@import '../base/colours';

.errormessage {
	p {
		margin: 0px; 
		padding: 0.5em;
		background: $light-pink;
		border: 0.1em $dark-red solid;
		color: $dark-red;
	}
	display: none;
	position: static;
	margin-bottom: -1em; 

}