/***********************************************
*   ERROR MESSAGES
*   Description: for styling error messages
*
************************************************/

//IMPORTS FILES
@import '../base/colours';

.errormessage {
	p {
		margin: 0px; 
		padding: 0.5em;
	}
	display: none;
	background: $light-pink;
	border: 0.1em $dark-red solid;
	color: $dark-red;
	position: static;
	top: 7em;
	margin-bottom: 0.5em; 
}

@media (max-width: 768px) {
	.errormessage {
		top: 4.7em;
		height: 4.1em;
		width: 95%;
		margin: 0 0.7em;
	}
}