/***********************************************
*   ERROR MESSAGES
*   Description: for styling error messages
*
************************************************/

.errormessage {
	p {
		margin: 0px; 
		padding: 0.5em;
	}
	display: none;
	background: $light-pink;
	border: 0.1em $dark-red solid;
	color: $dark-red;

	position: static;
	top: 7em;
	margin-bottom: 0.5em; 

	// position: absolute;
	// top: 2.8em;
	// height: 4em;
	// width: 100%;
	//margin: 0 0.7em;

}

// @media (max-width: 768px) {
// 	.errormessage {
// 		top: 4.7em;
// 		height: 4.1em;
// 		width: 95%;
// 		margin: 0 0.7em;
// 	}
// }