/***********************************************
*   FORM
*   Description: for form (input) related
*	mixins and variables.
************************************************/

//IMPORTS FILES
@import '../base/colours';

//Imports for Gov Files
@import '../../../../node_modules/govuk_frontend_toolkit/stylesheets/colours',
	//below for box shadow and other css3 functions
	'../../../../node_modules/govuk_frontend_toolkit/stylesheets/css3',
	//to normalise old browsers
	'../../../../node_modules/govuk_frontend_toolkit/stylesheets/shims';

.search-box {
	#postcode-input {
		padding: 0;
		input {
			width: 100%;
			height: 2.3em;
			text-align: center;
			color: $dark-grey;
			border-radius: 0;
		}
	}
}

@media (max-width: 768px) {
	.search-box {
		#postcode-input {
			width: 80%;
		}
	}
}


.servicestypeahead {
	margin-bottom: 1.2em;
	div {
		padding: 0;
	}
	input {
		border: none;
		border-bottom: 0.1em solid white;
		background-color: $dark-grey;
		color: white;
		width: 100%;
		border-radius: 0;
		height: 2em;
		&:hover {
			border-bottom: 0.1em solid white;
		}
		&:focus {
			border-bottom: 0.1em solid white;
		}
	}
	button {
		background-color: $dark-grey;
		span {
			color: white;
			&:hover {
				color: $hover-grey;
				cursor: pointer;
			}
		}
	}
	span {
		color: white;
		&:hover {
			color: $hover-grey;
			cursor: pointer;
		}
	}
	.dropdown-menu {
		border-radius: 0;
		width: 100%;
		padding: 0;
		overflow: hidden;
		li {
			border-bottom: 0.1em $menu-stroke-grey solid;       
        }
	}
	form {
		display: none;
	}
}
