/***********************************************
*   LISTRESULTS
*   Description: for list-results related
*	mixins and variables.
************************************************/

//IMPORTS FILES
@import '../base/colours';


#list-results {
	text-align: left;
	background-color: white;
	padding: 0;
	min-height: 100%;
	max-height: 20em;
	overflow: hidden;
	overflow-y: scroll;
	border-bottom: 0.2em black solid;
	position: absolute;
	z-index: 1;
	.list-item {
		border-top: 0.1em black solid;
		color: black;
		padding: 0.7em 0;
	}
	.distance {
		text-align: right;
	}
	h5, p {
		color: black;
		margin: 0;
	}
}

@media (max-width: 768px) {
	#list-results {
		max-height: 22em;
	}
}