/***********************************************
*   LISTRESULTS
*   Description: for list-results related
*	mixins and variables.
************************************************/



#list-results {
	text-align: left;
	background-color: rgba(255,255,255,0.7);
	padding: 0;
	//overflow: hidden;
	overflow-y: scroll;
	z-index: 999;
	min-height: 100%;
	max-height: 32em;
	@include respond(mobile) {
		background-color: rgba(255,255,255,0.7);
	}
	.list-item {
		border-top: 0.1em $menu-stroke-grey solid;
		color: black;
		padding: 0.7em 0;
		min-height: 5em;

		max-height: 100%; 

		.service-title {
			color: $dark-blue;
			font-weight: bold;
			margin: 0 0 10px 0;
		}

	}
	a:first-child {
		.list-item {
			@include respond(mobile) {
				border-top: none;
			}
		}
	}

	.display-result {
		display: none;
		visibility: hidden;
	}
	.display-result.active {
		display: block;
		visibility: visible;
	}
	.distance {
		text-align: right;
	}
	p {
		color: black;
		margin: 0;
	}
	h5 {
		margin-bottom: 5px;
		color: $dark-grey;
	}
	.display-active-result.active {
		> div:first-child {
			box-shadow: inset 0px 0px 6px 2px $orange;
			background-color: rgba(255,255,255,0.95);
		}
	}
}


