#map-container {
	height: 80%;
}
#map {
	height: 100%;
	.leaflet-control-attribution.leaflet-control{
		height: 0;
		top: 95%;
	}
	.leaflet-bottom, .leaflet-top {
		z-index: 10
	}
	.leaflet-control-zoom.leaflet-bar.leaflet-control {
		height: 0;
	}
	.leaflet-popup-content.ng-scope, .leaflet-popup-content-wrapper {
		height: auto;
	}
	.leaflet-popup-content-wrapper{
		box-shadow: rgba(0, 0, 0, 0.247059) 3px 3px 10px 0px;
		border-radius: 2px;
		.leaflet-popup-content {
			text-align: center;
		}
	}
	.angular-leaflet-map.ng-isolate-scope.leaflet-container.leaflet-fade-anim {
		height: 100%;
	}

}

