/***********************************************
*   SINGLE RESULTS
*   Description: for single result view related
*	mixins and variables.
************************************************/


.result {
	background-color: white;
	text-align: left;
	color: black;
	padding: 0.5em 0;
	border: 0.1em black solid;
	position: fixed;
	bottom: 0;
	z-index: 50;
	.contact {
		text-align: center;
		padding: 0.5em 0;
		img {
			width: 3em;
		}
	}
	a {
		color: black;
	}
	p, h5 {
		color: black;
		margin: 0;
	}
	.opening-hours {
		margin-top: 1em;
	}
}

.call-mobile {
	display: none;
}

@media (max-device-width: 768px) {
	.result {
		padding: 0.3em 0;
		.contact {
			padding: 0.2em 0;
			img {
				width: 2em;
			}
		}
	}
	.call-mobile {
		display: block;
	}
}