/***********************************************
*   SINGLE RESULTS
*   Description: for single result view related
*	mixins and variables.
************************************************/
.single-view-info {
	padding: 0;
	margin-top: 5px;
}

.result {
	//background-color: white;
	text-align: left;
	color: black;
	padding: 0.5em 0;
	border: 0.1em black solid;
	position: fixed;
	bottom: 0;
	z-index: 50;
	.glyphicon-remove {
		float: right;
		color: $exit-button;
		&:hover {
			color: $exit-button-hover;
		}
	}
	.contact {
		text-align: center;
		padding: 0.5em 0;
		img {
			width: 3em;
		}
	}
	a {
		color: $dark-blue;
	}
}

.call-mobile {
	display: none;
}

@media (max-device-width: 768px) {
	.result {
		padding: 0.3em 0;
		.contact {
			padding: 0.2em 0;
			img {
				width: 2em;
			}
		}
	}
	.call-mobile {
		display: block;
	}
}

#url {
	color: $dark-blue;
	font-size: 0.875em
}

#hr-single-view {
    margin: 5px 0;
    border: 0;
    height: 1px;
    background: #777;
    background-image: -webkit-linear-gradient(left, #ccc, #777, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #777, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #777, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #777, #ccc); 
}