/***********************************************
*   TOOL TIP
*   Description: for styling tool tips
*
************************************************/

.tooltip {
	.tooltip-inner {
		background-color: white;
		color: black;
	}
	.tooltip-arrow {
		border-right-color: #fff !important;
		@include respond(mobile) {
			border-right-color: #000 !important;
			border-bottom-color: #fff !important;
		}
	}
}
