/***********************************************
*   TOOL TIP
*   Description: for styling tool tips
*
************************************************/

.tooltip {
	top: -5em !important;
	.tooltip-inner {
		background-color: white;
		color: black;
	}
	.tooltip-arrow {
		border-top-color: #fff !important;
	}
}