/***********************************************
*   MAIN SCSS FILE
*   Description: Include all stylesheets here 
	for mapping to css
************************************************/
/***********************************************
*   RESET
*	Description: to reset or normalise
************************************************/
/***********************************************
*   TYPOGRAPHY
*   Description: for typography mixins and 
*   variables. Use gov frontend for guidelines.
************************************************/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
body, html {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  height: 100%; }

.container-fluid {
  padding: 0; }

h1 {
  font-size: 1.375em;
  text-align: center; }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 1em;
  font-weight: 600; }

p {
  font-size: 0.875em; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

span {
  color: white;
  font-size: 1.5em;
  text-align: center; }

button {
  border: none; }

/***********************************************
*   TYPOGRAPHY
*   Description: for typography mixins and 
*   variables. Use gov frontend for guidelines.
************************************************/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

#map-container {
  height: 70%; }

#map {
  height: 100%; }
  #map leaflet {
    height: 100%; }
  #map div {
    height: 100%; }
  #map .leaflet-control-attribution.leaflet-control {
    height: 0;
    top: 95%; }
  #map .leaflet-bottom, #map .leaflet-top {
    z-index: 10; }
  #map .leaflet-control-zoom.leaflet-bar.leaflet-control {
    height: 0; }
  #map .leaflet-popup-content.ng-scope, #map .leaflet-popup-content-wrapper {
    height: auto; }

/***********************************************
*   SERVICES AND CATEGORIES ACCORDIAN
*   Description: for services and categories
*	mixins and variables.
************************************************/
/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
.services-and-categories {
  padding: 0;
  border-bottom: 0.1em solid black;
  background-color: #333333;
  color: #DFEEF5;
  text-align: center; }
  .services-and-categories h2 {
    margin: 0.7em 0em;
    text-align: center; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 2.3em solid transparent;
  border-right: 2.3em solid transparent;
  border-bottom: 2.5em solid #333333;
  position: absolute;
  top: -1.7em;
  left: 50%;
  margin-left: -32px; }

#address-search h2 {
  text-align: left; }
#address-search .icon {
  width: 3em;
  margin: 0 auto;
  display: block;
  padding-bottom: 0.5em; }

#services img {
  width: 3em;
  margin: 0 auto;
  display: block;
  padding-bottom: 0.5em; }

#locations img {
  width: 3em;
  margin: 0 auto;
  display: block;
  padding-bottom: 0.5em; }

.visible-item-container {
  padding: 0; }

.service {
  padding: 0 0 0.5em; }
  .service h4 {
    margin-bottom: 0; }
  .service p {
    color: white; }
  .service img {
    width: 3em;
    margin: 0 auto;
    display: block; }

h2 {
  text-align: left;
  margin: 1em 0; }

/***********************************************
*   LISTRESULTS
*   Description: for list-results related
*	mixins and variables.
************************************************/
/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
#list-results {
  text-align: left;
  background-color: white;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: 0.2em black solid;
  border-left: 0.2em black solid;
  position: absolute;
  z-index: 50;
  height: 20em; }
  #list-results .list-item {
    border-top: 0.1em black solid;
    color: black;
    padding: 0.7em 0;
    height: 5em; }
  #list-results .distance {
    text-align: right; }
  #list-results h5, #list-results p {
    color: black;
    margin: 0; }

@media (max-width: 768px) {
  #list-results {
    height: 70%; }
    #list-results .list-item {
      height: 7em; } }

/***********************************************
*   SINGLE RESULTS
*   Description: for single result view related
*	mixins and variables.
************************************************/
/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
.result {
  background-color: white;
  text-align: left;
  color: black;
  padding: 0.5em 0;
  border: 0.1em black solid;
  position: fixed;
  bottom: 0;
  z-index: 50; }
  .result .contact {
    text-align: center;
    padding: 0.5em 0; }
    .result .contact img {
      width: 3em; }
  .result a {
    color: black; }
  .result p, .result h5 {
    color: black;
    margin: 0; }

.call-mobile {
  display: none; }

@media (max-device-width: 768px) {
  .call-mobile {
    display: block; } }

/***********************************************
*   BUTTONS 
*   Description: for button related
*	mixins and variables.
************************************************/
/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
#buttons {
  margin-top: 1em;
  padding: 0; }
  #buttons .button {
    padding: 0; }
    #buttons .button button {
      border-right: 0.1em white solid;
      border-left: 0.1em white solid;
      border-radius: 0;
      background-color: #0000E9;
      font-size: 1em;
      color: white;
      width: 100%; }
      #buttons .button button:hover {
        background-color: #2D389C; }
      #buttons .button button:active {
        background-color: #00019F; }
      #buttons .button button:focus {
        background-color: #00019F; }

#search {
  padding: 0; }
  #search button {
    width: 2.3em;
    height: 2.3em;
    border-left: 0.1em #333333 solid; }
    #search button span {
      color: #333333;
      text-align: center; }

.button {
  padding: 0; }
  .button span {
    right: -6em; }
  .button .list-results {
    border-right: 0.1em white solid;
    border-left: 0.1em white solid;
    border-radius: 0;
    background-color: #0000E9;
    font-size: 1em;
    color: white;
    width: 100%; }
    .button .list-results:hover {
      background-color: #2D389C; }

#back {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  z-index: 1; }

.navigation-arrow {
  margin: 0.9em 0 2.5em;
  padding: 0; }

/***********************************************
*   FORM
*   Description: for form (input) related
*	mixins and variables.
************************************************/
/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.search-box #postcode-input {
  padding: 0; }
  .search-box #postcode-input input {
    width: 100%;
    height: 2.3em;
    text-align: center;
    color: #333333; }

/***********************************************
*   MIXINS
*   Description: for general sass mixins 
************************************************/
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/***********************************************
*   HEADER
*	Description: Header styling goes here
************************************************/
header {
  border-bottom: 0.1em solid black; }
  header div #camden-logo {
    width: 15em;
    height: auto;
    margin: 0.3em 0; }

@media (max-width: 768px) {
  header div #camden-logo {
    width: 10em; } }

/***********************************************
*   LAYOUT
*   Description: Desktop Styling going here.
************************************************/
/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
/***********************************************
*   RESET
*	Description: to reset or normalise
************************************************/
/***********************************************
*   TYPOGRAPHY
*   Description: for typography mixins and 
*   variables. Use gov frontend for guidelines.
************************************************/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/
body, html {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  height: 100%; }

.container-fluid {
  padding: 0; }

h1 {
  font-size: 1.375em;
  text-align: center; }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 1em;
  font-weight: 600; }

p {
  font-size: 0.875em; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

span {
  color: white;
  font-size: 1.5em;
  text-align: center; }

button {
  border: none; }

/***********************************************
*   TYPOGRAPHY
*   Description: for typography mixins and 
*   variables. Use gov frontend for guidelines.
************************************************/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

#first-level-options {
  border-bottom: 0.1em solid black;
  background-color: #DFEEF5; }
  #first-level-options .icon {
    margin: 0 auto 1em;
    display: block;
    width: 5em; }
  #first-level-options #neighbourhood {
    margin: 1.1em auto; }
  #first-level-options h4 {
    text-align: center;
    color: black;
    margin: 0 0 1em; }
