/***********************************************
*   COLOURS
*	Description: Colour variables
************************************************/

//CAMDEN COLOUR PALETTE
$orange: #FF9900;
$dark-red: #CC0000;
$light-pink: #FCF1F3;

$light-blue: #DFEEF5;
$blue: #0000E9;
$hover-blue: #2D389C;
$dark-blue: #00019F;

$inactive-button-grey: #D3D3D3;
$menu-stroke-grey: #99909E;
$hover-grey: #E6E6E6;
$light-grey: #CCCCCC;
$dark-grey: #333333;

$exit-button: #c3c3c3;
$exit-button-hover: #999999;