/***********************************************
*   RESET
*	Description: to reset or normalise
************************************************/

//IMPORTS FILES
@import '../base/typography',
	'../base/colours';

body {
	font-family: $default-font;
}

h1 {
	font-size: 1.375em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
	font-weight: 600;
}

p {
	font-size: 0.875em;
}

button {
	font-size: 1em;
	border: none;
	backgroud-color: $blue;
	border-radius: 0;
	color: white;
	&:hover {
		backgroud-color: $hover-blue;
	}
}
a {
	text-decoration: none;
	color: black;
	&:visited {
		text-decoration: none;
		color: black;
	}
	&:hover {
		text-decoration: none;
		color: black;
	}
}

.map-pointer {

}

.icon {

}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 2.5em solid transparent;
	border-right: 2.5em solid transparent;
	border-bottom: (2.5em + 2.5em/4 ) solid $dark-grey;
	position: absolute;
	top: -2em;
}

