/***********************************************
*   RESET
*	Description: to reset or normalise
************************************************/

//IMPORTS FILES
@import '../base/typography',
	'../base/colours';


//BASID RESETS
body, html {
	font-family: $default-font;
	height: 100%;
}

.container-fluid {
	padding: 0;
}

h1 {
	font-size: 1.375em;
	text-align: center;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
	font-weight: 600;
}

p {
	font-size: 0.875em;
}

a {
	text-decoration: none;
	cursor: pointer;
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}

span {
	color: white;
	font-size: 1.5em;
	text-align: center;
}

button {
	border: none;
}