
<div class="container-fluid">
<!--     <div class="col-xs-12 button">
        <button ng-click="exit()" class="list-results">List Results<span class="glyphicon glyphicon-remove"></span></button>
   </div> -->

   <!-- </div> -->
    <div class="col-xs-6 col-xs-offset-6" id="list-results">
        <a ng-href="{{  baseUrl + result.display.Name }}" ng-repeat="result in results">
            <div class="list-item col-xs-12">
                <div class="col-xs-9">
                    <h5>{{ result.display.Name }}</h5>
                    <p>{{ result.StreetNum + ' ' + result.Street }}</p>
                    <p>{{ result.PostCode }}</p>
                </div>
                <div ng-show="showDistance" class="col-xs-3">
                    <h5 class="distance">{{ result.Distance + ' miles'}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>
