<!-- ROOT.LANDING.SERVICES BEGINS -->
<div id="find-your-nearest" class="collapse container-fluid col-xs-12">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    <div class="col-xs-12">
        <h1>Find Your Nearest</h1>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-2 col-" id="findMyNearest">
        <a data-toggle="collapse" href="#find-your-nearest" aria-expanded="false" aria-controls="collapseExample">    
            <img class="icon" src="../img/nearest-categories/sports.png" alt="">
        </a>
        <h4>Sports</h4>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1" id="aboutYourNeighbourhod">
        <img class="icon" id="neighbourhood" src="../img/nearest-categories/recycling.png" alt="">
        <h4>Recycling</h4>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1" id="liveStreetworks">
        <img class="icon" src="../img/nearest-categories/police-station.png" alt="">
        <h4>Police Station</h4>
    </div>
</div>
<!-- ROOT.LANDING.SERVICES ENDS-->
