
 <div class="container-fluid">
    <div class="result col-xs-12">
        <div class="col-xs-10">
            <a href="link-to-url">
                <h5>{{ result.PoI.Name }}</h5>
            </a>
            <p>{{ result.StreetNum + " " + result.Street }}</p>
            <p>London, {{result.Postcode}}</p>
            <p>{{ result.PoI.Telephone }}</p>
            <p>{{ result.PoI.URL }}</p>
            <br>
            <h5>Opening Hours</h5>
            <p>{{ result.PoI.OpeningHours }}</p>
        </div>

        <div class="col-xs-2">
            <h5>{{ result.Distance }}</h5>
        </div>

        <div class="contact col-xs-12">
            <div class="col-xs-4">
                <img src="./img/contact/call.png">
            </div>
            <div class="col-xs-4">
                <img src="./img/contact/website.png">
            </div>
            <div class="col-xs-4">
                <a href="http://maps.google.co.uk">
                    <img src="./img/contact/travel.png">
                </a>
            </div>
        </div>
    </div>
 </div>
