<div class="container-fluid">
    <div id="postcode-entered" class="services-and-categories col-xs-12">
        <div class="col-xs-12">
            <h1>Find your Nearest...</h1>
        </div>

        <div id="services" class="col-xs-4 col-xs-offset-1">
            <img  ng-src="{{ icon }}">
            <h4>{{ service }}</h4>
        </div>

        <div class="col-xs-2">
            <h3>to</h3>
        </div>

        <div id="locations" class="col-xs-4">
            <img src="../img/nearestservice/mapmarker.png">
            <h4>{{ address }}</h4>
        </div>

        <div id="buttons" class="col-xs-12">
            <div class="button col-xs-6">
                <button ng-click="searchAgain()" class="btn">Search again</button>
            </div>
            <div class="button col-xs-6">
    <!--             toggle() alternates between listResults() and exit() -->
                <button ng-click="toggle()" class="btn">List results</button>
            </div>
        </div>
    </div>

    <div ui-view></div>

</div>
