<div id="list-results" class="container-fluid">
    <button>List Results<span class="glyphicon glyphicon-remove"></span></button>
   
    <a href="link-to-result" ng-repeat="result in results">
        <div class="list-item col-xs-12">
            <div class="col-xs-9">
                <h5>{{ result.name }}</h5>
                <p>{{ result.address }}</p>
                <p>{{ result.city }}</p>
            </div>
            <div class="col-xs-3">
                <h5>{{ result.distance }}</h5>
            </div>
        </div>
     </a>

</div>
