
 <div class="container-fluid">
    <div class="result col-xs-12">
        <div class="col-xs-10">
            <a href="link-to-url">
                <h5>Name of result</h5>
            </a>
            <p>House Number and street Name</p>
            <p>London, Postcode</p>
            <p>Phone Number</p>
            <p>email</p>
            <br>
            <h5>Opening Hours</h5>
            <p>hours</p>
        </div>

        <div class="col-xs-2">
            <h4> {{ currentDisplay }} </h4>
            <h5>distance</h5>
        </div>

        <div class="contact col-xs-12">
            <div class="col-xs-4">
                <img src="./img/contact/call.png">
            </div>
            <div class="col-xs-4">
                <img src="./img/contact/website.png">
            </div>
            <div class="col-xs-4">
                <img src="./img/contact/travel.png">
            </div>
        </div>
    </div>
 </div>
