
 <div id="result" class="container-fluid">
    
     <div class="col-xs-10">
        <a href="link-to-url">
            <h5>Name of result</h5>
        </a>
        <p>House Number and street Name</p>
        <p>London, Postcode</p>
        <p>Phone Number</p>
        <p>email</p>
        <br>
        <h5>Opening Hours</h5>
        <p>hours</p>
    </div>
  
    <h4> {{ currentDisplay }} </h4>

    <div class="col-xs-2">
        <h5>distance</h5>
    </div>
   
    <div class="col-xs-10 col-xs-offset-1">
        <img class="phone col-xs-3 col-xs-offset-1" src="./img/call.png">
        <img class="phone col-xs-3 col-xs-offset-1" src="./img/website.png">
        <img class="travel col-xs-3 col-xs-offset-1 " src="./img/travel.png">
    </div>

 </div>
