<!-- ROOT.LANDING BEGINS -->
<div id="first-level-options" class="container-fluid col-xs-12">
    <div class="col-xs-12">
        <h1>Choose one of the following options</h1>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-2 col-" id="findMyNearest">
        <a class="nearest-toggle" data-toggle="collapse" href="#find-your-nearest" aria-expanded="false">    
            <img class="icon" src="../img/icons/find-your-nearest.svg" onerror="../img/icons/find-your-nearest.png" alt="">
        </a>
        <h4 class="nearest-title-collapse">Find Your Nearest</h4>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1" id="aboutYourNeighbourhod">
        <img class="icon" id="neighbourhood" src="../img/icons/your-neighbourhood.svg" onerror="../img/icons/your-neighbourhood.png" alt="">
        <h4>About Your Neighbourhood</h4>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1" id="liveStreetworks">
        <img class="icon" src="../img/icons/streetworks.svg" onerror="../img/icons/streetworks.png" alt="">
        <h4>Live Streetworks</h4>
    </div>
</div>
<div ui-view></div>
<!-- ROOT.LANDING ENDS -->
