/***********************************************
*   HEADER
*	Description: Header styling goes here
************************************************/

header {
	border-bottom: 0.1em solid black;
	div {
		#camden-logo {
			width: 15em;
			height: auto;
			margin: 0.3em 0;
		}
	}
}

@media (max-width: 768px) {
	header {
		div {
			#camden-logo {
				width: 10em;
			}
		}
	}
}