/***********************************************
*   LAYOUT
*   Description: Desktop Styling going here.
************************************************/

//IMPORTS FILES
@import '../base/colours',
	'../base/reset',
	'../base/typography';



#postcode-entered {
	h4 {
		color: white;
	}
	img {
		width: 3em;
	}
}

@media (max-width: 768px) {
	#postcode-entered {
		h1 {
			margin: 0.3em 0;
		}
		h4 {
			margin: 0.1em 0;
		}
		img {
			width: 2em;
			padding-bottom: 0.2em;
		}
	}
}




