/***********************************************
*   LAYOUT
*   Description: Desktop Styling going here.
************************************************/

//IMPORTS FILES
@import '../base/colours',
	'../base/reset',
	'../base/typography';

#first-level-options {
	border-bottom: 0.1em solid black;
	background-color: $light-blue;
	.icon {
		margin: 0 auto;
		display: block;
		width: 6em;
	}
	#neighbourhood {
		margin: 1.1em auto;
	}
	h4 {
		text-align: center;
		color: black;
	}
}

.services-and-categories {
	border-bottom: 0.1em solid black;
	background-color: $dark-grey;
	color: $light-blue;
	text-align: center;
	#back {
		position: absolute;
		top: 0.3em;
		left: 0.3em;
		z-index: 1;
	}
	.arrow-up {
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 40px solid $dark-grey;
		position: absolute;
		top: -2em;
    	left:50%;
    	margin-left:-32px;
	}
	.icon {
		width: 3em;
		margin: 0 auto;
		display: block;
	}
	.navigation-arrow {
		margin: 2.5em 0;
	}
	h4 {
		margin-bottom: 0;
	}
	p {
		color: white;
	}
}

.result {
	background-color: white;
	text-align: left;
	color: black;
	.contact {
		text-align: center;
		img {
			width: 4em;
		}
	}
	a {
		color: black;
	}
	p {
		color: black;
	}
}

#list-results {
	text-align: left;
	.list-item {
		background-color: white;
		border-top: 0.1em black solid;
		color: black;
	}
	span {
		right: -6em;
	}
	h5.distance {
		text-align: right;
	}
	h5, p {
		color: black;
	}
}
