/***********************************************
*   LAYOUT
*   Description: Desktop Styling going here.
************************************************/

//IMPORTS FILES
@import '../base/colours',
	'../base/reset',
	'../base/typography';

#first-level-options {
	border-bottom: 0.1em solid black;
	background-color: $light-blue;
	h1 {
		text-align: center;
	}
	.icon {
		margin: 0 auto;
		display: block;
		width: 6em;
		padding: 0.5em;
	}
	#neighbourhood {
		margin: 0.6em auto;
	}
	h4 {
		text-align: center;
	}
}