<!-- BETA BANNER STARTS HERE -->
<div class="col-xs-12" collapse="collapseBanner">
        
    <div class="col-xs-3 col-sm-2 col-md-1">
        <h5>BETA</h5>
    </div>

    <div class= "col-xs-9">
        <p>We are recreating this service - Your <a href="https://docs.google.com/forms/d/1ENQM239G9a9LIFbVNWGiPARfrxqcuvCTZpncdfKF5N4/viewform?usp=send_form" target= "_blank">feedback</a> will help us further improve it</p>
        <p>Want to go back to the old site? <a href= "http://maps1.camden.gov.uk/" target= "_blank">click here</a></p>
    </div>

    <div class="close-wrapper" ng-click="collapseBanner = !collapseBanner">
        <div class="close">
            <div>
            </div>
        </div>
    </div>

</div>