<!--ROOT STARTS HERE -->

    <!-- HEADER STARTS HERE -->
    <header class="container-fluid banner-container">

        <div class="col-xs-7 col-sm-4 col-md-3 col-lg-2">
            <a ng-click= "sendHome()">
                <img id="camden-logo" src="../img/camdenlogo.png" alt="Camden">
            </a>
        </div>

    <div ui-view class="col-md-offset-1 col-md-4" id="main-container"></div>
    <!-- UI-VIEW FOR ROOT.LANDING ENDS --> 


    <!-- MAP BEGINS --> 
    <div id="map" class="map container-fluid">
            <leaflet defaults="defaults" center="centre" maxbounds="maxbounds" markers="markers" leafletMap="leafletMap" geojson= "geojson" ></leaflet>
    </div>
</div>
    <!-- MAP ENDS -->

<!-- ROOT ENDS HERE -->
