 <div class="container-fluid list-items" id="list-results" ng-show="information">
    <div class="col-xs-12 container-list" id="neighbourhood-info" >
        <h4 class="local-info-heading">Political information</h4>
    	<ul  >
            <li ng-hide="{{information.Ward.Value}}">Ward: <a href=" {{ information.Ward.Url }} ">{{ information.Ward.Value }} </a></li>
            <li ng-hide="{{information['European constituency'].Value}}">Eurpean Constituency: <a href="{{ information['European constituency'].Url }}">{{ information["European constituency"].Value }}</a></li>
            <li ng-hide="{{information['Parliamentary Constituency'].Value}}">Parlimentary Constituency: <a href="{{ information['Parliamentary Constituency'].Url}}">{{ information["Parliamentary Constituency"].Value }} </a></li> 
    	</ul>
    	<h4 class="local-info-heading">Environment</h4>
    	<ul>
            <li ng-hide="{{information['Conservation Area'].Value}}">Conservation area: <a href=" {{ information['Conservation Area'].Url }} ">{{ information["Conservation Area"].Value }}</a></li>
    	</ul>
    	<h4 class="local-info-heading">Housing</h4>
    	<ul  >
            <li ng-hide="{{information['Ward housing team'].Value}}">Ward Housing Team: <a href=" {{ information['Ward housing team'].Url }} ">{{ information["Ward housing team"].Value }}</a></li>
                <li ng-hide="{{information['Ward district management comittee'].Value}}">District management comittee: <a href=" {{ information['Ward district management comittee'].Url }} ">{{ information["Ward district management committee"].Value }}</a></li>
    	</ul>
    	<h4 class="local-info-heading">Parking</h4>
    	<ul  >
            <li ng-hide="{{information['Controlled Parking Main Zone'].Value}}">Controlled parking zone:<a href=" {{ information['Controlled Parking Main Zone'].Url }} ">{{ information["Controlled Parking Main Zone"].Value }}</a> </li>
    	</ul>
    	<h4 class="local-info-heading">Licensing Enforcement</h4>
    	<ul  >
            <li ng-hide="{{information['Licensing Enforcement Areas'].Value}}">Licensing enforcement Areas: <a href=" {{information['Licensing Enforcement Areas'].Url }} ">{{ information["Licensing Enforcement Areas"].Value }}</a></li>
    	</ul>
    </div>
 </div>
