<!-- ROOT.LANDING.SERVICES BEGINS -->

<div class="container-fluid">
    <div ng-swipe-right="prevItems()" ng-swipe-left="nextItems()" class="services-and-categories col-xs-12">

        <div class="col-xs-12 errormessage">
        </div>
        
        <!-- Search Box for locations & GPS -->
        <div class="col-xs-12 search-box">
            <div class="servicestypeahead">
                <typeaheadsearch/>
            </div> 
            <div class="col-md-12">
                <h3>Search a service or select one category from below</h3>
            </div>        
        </div>



        <div class="col-xs-12 item-container">

        <!-- Title of services that are listed in container -->

        <div class="title-list-items row" id="category-title-of-services">
            <div class="col-xs-3 col-md-3">
                <img ng-src="{{ category.img }}"  alt="">
            </div>
            <div class="accordiontext col-xs-8 col-md-8">
                <h4 id="title-of-accordion">{{category.title}}</h4>
            </div>
            <div class="col-xs-1 col-md-1 cancel">
                <a ng-click="returnToCategories()">X</a>
            </div>
        </div>            

        <!-- Container with all the services listed -->

            <div class="list-items" id="services-list">
                <div ng-repeat="service in services" class="container-list row" >
                    <a ng-click="clickHandler(service)"> 
                        <div class="col-xs-3 col-md-3">
                            <img ng-src="{{ service.img }}" alt="">
                        </div>
                        <div class="accordiontext col-xs-9 col-md-9">
                            <h4>{{ service.title }}</h4>
                            <h4 class="hidden-xs">{{ service.text }}</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROOT.LANDING.SERVICES ENDS-->

