
<!-- ROOT.ADDRESS-SEARCH BEGINS -->

<div class="container-fluid">
    <div ng-swipe-right="prevItems()" ng-swipe-left="nextItems()" class="services-and-categories col-xs-12">

        <!-- Search Box for locations & GPS -->
        <div class="col-xs-12 search-box" id="search-service-and-loc">
            <div class="servicestypeahead row">
                <servicestypeahead/>
            </div> 

            <div class="col-xs-12 row errormessage">
            </div>

            <div class="col-xs-12 col-md-12" id="search-location-row">

                <div class="row">

                    <form>
                        <div id="postcode-input" class="col-md-offset-2 col-md-8">
                            <input type="text" placeholder="{{ placeholder }}" ng-model="address">
                        </div>
                        <div class="col-md-1 searchbutton">
                            <button type="submit" ng-click="search()" id="searchbutton">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>

                    <div id="yourLocation" class="col-xs-1 col-md-1">
                        <a href="#" tooltip-placement="top" tooltip="{{ geolocationToolTip }}">
                            <button button ng-click="geolocateUser()">
                                <span class="glyphicon glyphicon-screenshot"></span>
                            </button>
                        </a>
                    </div>

                </div>

            </div>  

        </div>



        <div class="col-xs-12 item-container">

        <!-- Title of service and category that are listed in container -->

            <div class="title-list-items row" id="category-title-of-services">
                <div class="col-xs-3 col-md-3">
                    <img ng-src="{{ category.img }}"  alt="">
                </div>
                <div class="accordiontext col-xs-9 col-md-8">
                    <h4>{{ category.title }}</h4>
                </div>
                <div class="col-md-1 ">
                    <a href="#/home/services">x</a>
                </div>
            </div>    

            <div class="title-list-items row" id="service-title-of-results">
                <div class="col-xs-3 col-md-3">
                    <img ng-src="{{ icon }}"  alt="">
                </div>
                <div class="accordiontext col-xs-9 col-md-8">
                    <h4>{{ service }}</h4>
                </div>
                <div class="col-md-1 ">
                    <a href="#/home/{{category.title}}/service">x</a>
                </div>
            </div>         

            <div ui-view></div>
        </div>
    </div>
</div>



<!-- ROOT.ADDRESS-SEARCH ENDS-->
