 <div ng-show="result">
    
    <div class="single-view-info">
        <hr id="hr-single-view">

        <p ng-show="result.display.Location"> Location of streetworks {{ result.display.Location }} </p>

        <p ng-show="result.display.Description"> <b> Description: </b> <br> {{ result.display.Description }} </p>
        
        <br>
        <a ng-show="result.display.Telephone" href= "tel: {{ result.display.Telephone }}"> <p><b> Tel.: </b> {{ result.display.Telephone }}</p></a>
        <a ng-show="result.display.URL" href="{{ result.display.URL }}" target="_blank" id="url">{{ result.display.URL }}
        </a>
        <p ng-show="result.display.Organisation"> <b> Responsible company: </b> {{ result.display.Organisation }} </p>  
        <p ng-show="result.externalref"> <b> External reference: </b> {{ result.externalref }} </p>  
        <h5 ng-show="result.display.OpeningHours">Opening Hours</h5>
        <p>{{ result.display.OpeningHours }}</p>

    </div>
 </div>
