<div class="container-fluid">
    <div id="address-search" class="services-and-categories col-xs-12">
        <div class="col-xs-12">
            <h1>{{ title }}</h1>
        </div>

         <div class="col-xs-2">
             <img class="icon" ng-src="{{ icon }}">
        </div>

        <div class="col-xs-10">
            <h2>{{ service }}</h2>
        </div>

        <div class="col-xs-12 errormessage">
        </div>

        <div class="col-xs-12 search-box">
            <typeaheadsearch/>
        </div>

        <div id="buttons" class="col-xs-12">
            
            <div class="button col-xs-6">
                <button ng-click="searchAgain()" class="btn">{{ backButtonText }}</button>
            </div>
            
            <div class="button col-xs-6">
            <!-- this will toggle between listResults() and exit() -->
                <button ng-click="toggle()" class="btn">List results</button>
            </div>
        
        </div>
    </div>

    <div ui-view></div>
</div>
