 <!-- ROOT.ADDRESS-FOUND BEGINS -->

<div class="container-fluid">
    <div class="services-and-categories col-xs-12">

        <!-- Search Box for locations & GPS -->
        
        <div class="col-xs-12 search-box" id="search-service-and-loc" ng-swipe-right="toggleView()">
            <div class="servicestypeahead row">
                <div class="col-xs-12 errormessage">
                </div>
                <typeaheadsearch/>
            </div>

            <div class="col-md-12 enter-loc">
                <h3>Please enter another location.</h3>
            </div>

            <div class="visible-xs-block">
                <a class="change-address" ng-click="toggleView()">
                    <p>Click to see the {{ mapOrList }}</p>
                </a>
            </div>
        </div>

        <div ng-click="toggleView()" class="list-toggle-button visible-xs-block col-xs-1">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </div>

        <div class="col-xs-12 item-container" id="item-container" collapse-width="maplisttoggle" ng-swipe-left="toggleView()">

        <!-- Title of service and category that are listed in container -->

            <div class="title-list-items row" id="category-title-of-services" ng-click="searchAgain()">
                <div class="col-xs-3 col-md-3">
                    <img ng-src="{{ icon }}"  alt="">
                </div>
                <div class="accordiontext col-xs-8 col-md-8">
                    <h4 id="title-of-accordion">{{ title }}</h4>
                </div>
                <div class="col-xs-1 col-md-1 cancel" ng-show="showAccordion">
                    <p>X</p>
                </div>
            </div>    

        <!-- About your Neighbourhood information STARTS  -->
             <div class="container-fluid list-items" id="list-results" ng-show="information">
                <div class="col-xs-12 container-list" id="neighbourhood-info" >
                    <h4 class="local-info-heading">Political information</h4>
                    <ul  >
                        <li ng-show="information.Ward.Value">Ward: <a href="{{  information.Ward.Url }} ">{{ information.Ward.Value }} </a></li>
                        <li ng-show="information['European constituency'].Value">European Constituency: <a href="{{ information['European constituency'].Url }}">{{ information["European constituency"].Value }}</a></li>
                        <li ng-show="information['Parliamentary Constituency'].Value">Parlimentary Constituency: <a href="{{ information['Parliamentary Constituency'].Url}}">{{ information["Parliamentary Constituency"].Value }} </a></li>    
                        <li ng-show="information['Polling Station'].Value">Polling Station: {{ information["Polling Station"].Value }} &nbsp
                            <a id="polling-station" ng-click="togglePollingStation()"> 
                                <button type="button" aria-label="Show marker">
                                    <b>Show on map</b>
                                </button> 
                            </a> 
                        </li>

                    </ul>

                    <h4 ng-show="information['Recycling Kerbside Collection Day'].Value || information['Domestic Refuse Collection Day. Refuse should be put out by 7am on the morning of collection'].Value" class="local-info-heading">Recycling and rubbish</h4>
                    <ul>
                        <li ng-show="information['Domestic Refuse Collection Day. Refuse should be put out by 7am on the morning of collection'].Value">Domestic rubbish collection: {{ information["Domestic Refuse Collection Day. Refuse should be put out by 7am on the morning of collection"].Value }}</li>
                        <li ng-show="information['Recycling Kerbside Collection Day'].Value">Recycling Collection: {{ information["Recycling Kerbside Collection Day"].Value }}</li>
                    </ul>
                    <h4 ng-show="information['Conservation Area'].Value" class="local-info-heading">Environment</h4>
                    <ul>
                        <li ng-show="information['Conservation Area'].Value">Conservation area: <a href=" {{ information['Conservation Area'].Url }} ">{{ information["Conservation Area"].Value }}</a></li>
                    </ul>
                    <h4 class="local-info-heading">Housing</h4>
                    <ul  >
                        <li ng-show="information['Ward housing team'].Value">Ward Housing Team: <a href=" {{ information['Ward housing team'].Url }} ">{{ information["Ward housing team"].Value }}</a></li>
                        <li ng-show="information['Ward district management committee'].Value">District management committee: <a href=" {{ information['Ward district management comittee'].Url }} ">{{ information["Ward district management committee"].Value }}</a></li>
                    </ul>
                    <h4 class="local-info-heading">Parking</h4>
                    <ul  >
                        <li ng-show="information['Controlled Parking Main Zone'].Value">Controlled parking zone:<a href=" {{ information['Controlled Parking Main Zone'].Url }} ">{{ information["Controlled Parking Main Zone"].Value }}</a> </li>
                    </ul>
                    <h4 class="local-info-heading">Licensing Enforcement</h4>
                    <ul  >
                        <li ng-show="information['Licensing Enforcement Areas'].Value">Licensing enforcement Officer: <a href=" {{information['Licensing Enforcement Areas'].Url }} ">{{ information["Licensing Enforcement Areas"].Value }}</a></li>
                    </ul>
                </div>
             </div>
             <!-- About your Neighbourhood information ENDS  -->

        </div>
    </div>
</div>

<!-- ROOT.ADDRESS-FOUND ENDS-->