
 <div ng-show="result" class="container-fluid">
    <div class="result col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
        <div class="col-xs-10">
            <a href="link-to-url">
                <h5>{{ result.display.Name }}</h5>
            </a>
            <p>{{ result.StreetNum + " " + result.Street }}</p>
            <p>London, {{result.PostCode}}</p>
            <p>{{ result.display.Telephone }}</p>
            <h5 ng-show="result.display.OpeningHours" class="opening-hours">Opening Hours</h5>
            <p>{{ result.display.OpeningHours }}</p>
        </div>

        <div ng-show="showDistance" class="col-xs-2">
            <h5>{{ Math.floor(1.9) + ' miles' }}</h5>
        </div>

        <div class="contact col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="call-mobile col-xs-4">
                <a href= "tel: {{ result.display.Telephone }}">    
                    <img src="./img/contact/call.png">
                </a>
            </div>
            <div class="col-xs-4 col-sm-6">
                <a ng-show="result.display.URL" href="{{ result.display.URL }}" target="_blank">
                    <img src="./img/contact/website.png">
                </a>
            </div>
            <div class="col-xs-4 col-sm-6">
                <a href="http://maps.google.co.uk">
                    <img src="./img/contact/travel.png">
                </a>
            </div>
        </div>
    </div>
 </div>
