<!--ROOT STARTS HERE -->

    <!-- HEADER STARTS HERE -->
    <header class="container-fluid">
        <div class="col-xs-7 col-sm-4 col-md-3 col-lg-2">
            <a ng-click= "sendHome()">
                <img id="camden-logo" src="../img/camdenlogo.png" alt="Camden">
            </a>
        </div>
    </header>
    <!-- HEADER ENDS HERE -->


    <!-- UI-VIEW FOR ROOT.LANDING --> 
    <div ui-view id="main-container"></div>    
    <!-- UI-VIEW FOR ROOT.LANDING ENDS --> 


    <!-- MAP BEGINS --> 
    <div id="map" class="map container-fluid">
            <leaflet defaults="defaults" center="centre" maxbounds="maxbounds" markers="markers" paths="paths" geojson= "geojson"></leaflet>
    </div>
</div>
    <!-- MAP ENDS -->

<!-- ROOT ENDS HERE -->
