<!-- ROOT.LANDING.SERVICES BEGINS -->

<div class="container-fluid">
    <div ng-swipe-right="prevItems()" ng-swipe-left="nextItems()" id="find-your-nearest" class="services-and-categories col-xs-12">

        <!-- Search Box for locations & GPS -->
        <div class="col-xs-12 row search-box">   
            <div class="servicestypeahead row">
                <servicestypeahead/>
            </div> 
            <div class="col-md-offset-1 col-md-10">
                <h2>Search a service of select one category from below</h2>
            </div>        
        </div>

<!-- 
        <div class="col-xs-1 navigation-arrow">
            <a ng-hide="page === 0" ng-click="prevItems()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div> -->

        <div class="col-xs-10 visible-item-container">
            <div ng-repeat="item in visibleItems" class="service row" >
                <a ng-click="execute(item.handler)">    
                    <img ng-src="{{ item.img }}" alt="">
                    <div class="accordiontext">
                        <h4>{{ item.title }}</h4>
                        <p class="hidden-xs">{{ item.text }}</p>
                    </div>
                </a>
            </div>
        </div>

<!--         <div class="col-xs-1 navigation-arrow">
            <a ng-hide="page === lastPage" ng-click="nextItems()">
                <span class=" glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> -->

    </div>
</div>
<!-- ROOT.LANDING.SERVICES ENDS-->
