<!-- TYPEAHEAD-SEARCH -->
<div class="col-xs-2 col-md-2">
    <a ng-click="searchAgain()">
        <img id="backhome" src="../img/icons/backhome.png" alt="back">
    </a> 
</div>

<form ng-submit="handler(selected)" id="address-input">

	<div class="col-xs-8 col-md-8" id="forminput">
	    <input type="text" placeholder="{{ placeholder }}" ng-model="selected" typeahead="searchitem.title for searchitem in typeaheadSearchList{{ additions }}" class="form-control"/>
	</div>

	<div class="col-xs-1 col-md-1">
	    <button type="submit">
	        <span class="glyphicon glyphicon-search"></span>
	    </button>
	</div>

</form>

<div id="yourLocation" class="col-xs-1 col-md-1" ng-show="geolocate">
    <a href="#" tooltip-placement="right" tooltip="{{ geolocationToolTip }}">
        <button button ng-click="geolocateUser()">
            <span class="glyphicon glyphicon-screenshot"></span>
        </button>
    </a>
</div>
<!-- TYPEAHEAD-SEARCH END -->
