<div class="typeahead">
	<!-- TYPEAHEAD-SEARCH -->
	<div class="col-md-2">
	    <a ng-click="searchAgain()">
	        <img id="backhome" src="../img/icons/backhome.png" alt="back">
	    </a> 
	</div>

	<form ng-submit="handler(selected)" id="address-input">

		<div class="col-md-8" id="forminput">
		    <input type="text" placeholder="{{ placeholder }}" ng-model="selected" typeahead="searchitem.title for searchitem in typeaheadSearchList{{ additions }}" class="form-control"/>
		</div>

		<div class="col-md-1 submit-wrapper">
		    <button type="submit">
		        <span class="glyphicon glyphicon-search"></span>
		    </button>
		</div>

	</form>

	<div id="yourLocation" class="col-md-1" ng-show="geolocate">
	    <a tooltip-placement="right" tooltip="{{ geolocationToolTip }}">
	        <button button ng-click="geolocateUser()">
	            <span class="glyphicon glyphicon-screenshot"></span>
	        </button>
	    </a>
	</div>
	<!-- TYPEAHEAD-SEARCH END -->
</div>