/***********************************************
*   SERVICES AND CATEGORIES ACCORDIAN
*   Description: for services and categories
*	mixins and variables.
************************************************/

#accordionBox{
	width: 100%;
}

.services-and-categories {
	padding: 0;
	text-align: center;
	@include respond(mobile) {
       height: 11.5em;
       height: initial;
    }
	h2 {
		margin: 0.7em 0em;
		text-align: center;
		color: $white;
		@include respond(mobile) {
			margin: 0.3em 0em;
		}
	}
	#back {
		width: 2.6em;
	}
}

#address-search {
	h2 {
		text-align: left;
	}
	.icon {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

@include respond(mobile) {
	#address-search {
		h1 {
			margin: 0.3em 0;
		}
		.icon {
			width: 2em;
		}
	}
}

#services {
	img {
		width: 3em;
		margin: 0 auto;
		display: block;
		padding-bottom: 0.5em;
	}
}

.item-container {
	padding: 0;
	box-shadow: 0.5em 0.5em 0.5em #888888;
	border-top: solid 0.2em $light-grey;
	margin-top: 1em;
	@include respond(mobile) {
		margin-top: 0;
		border-top: none;
	}
}

.title-list-items{
	//border-bottom: solid 0.2em $dark-grey;
	box-shadow: 0.5em 0.2em 0.5em #888888;
	margin: 0 0 0.5vh 0;
	padding: 0.2vh 0;
	@include respond(mobile) {
       margin: 0;
       padding: 0.8em 0 0.4em 0;
       border-bottom: 1px solid black;
       box-shadow: none;
   }
	div{
		img{
			width: 2.5em;
			margin-left: 2em;
			display: inline-block;
			float: left;
			@include respond (mobile) {
	            margin-left: auto;
	            margin-right: auto;
	            display: block;
	            float: none;
	       	}
		}
		a {
			color: $exit-button-hover;
		}
		a:hover {
			color:$exit-button;
			font-weight:bold;
		}
	}
}

.cancel {
	@include respond(mobile) {
		padding: 0.1em;
		font-size: 1.5em;
	}
}

#category-title-of-services{
	background-color: $medium-blue;
	cursor: pointer;

}

#service-title-of-results{
	background-color: $light-blue;
	cursor: pointer;
}

#category-list{
    background-color: $medium-blue;
}

#services-list{
    background-color: $light-blue;
}

h2 {
	text-align: left;
	margin: 1em 0;
}

.accordiontext{
	padding-top: 0.8vh;
	font-size: 1.1em;
	@include respond(mobile) {
		padding-top: 0.1em;
        	text-align: left;
	}
	h4{
		margin: 0;
		color: $black;
		display:inline;
		font-size: 1.1em;
		@include respond(mobile) {
			font-size: 1em;
			vertical-align: text-bottom;
		}
	}
}

#locations {
	color: white;
	margin-top: 10px;
}

.change-address p {
	margin-top: 10px;
}

#title-of-accordion {
	font-weight: bold;
}
