/***********************************************
*   FIND YOUR NEAREST
*   Description: for services and categories
************************************************/

.services-and-categories {
    padding: 0;
    color: $light-blue;
    text-align: center;
    h2 {
        margin: 0.7em 0em;
        text-align: center;
        color: $white;
        @include respond(mobile) {
            margin: 0.3em 0;
        }
    }
}