#main-container {
	position: absolute;
	z-index: 999;
	margin: 11vh 3vh 0 3vh;
	width: 27%;
	@include respond(mobile) {
		width: 100%;
		padding: 0;
		margin: 0;
		margin-top: 2em;
	}
}

#menubar{
	position: fixed;
}

#first-level-options {
	background-color: $black;
	.icon {
		margin: 1em auto 1em;
		display: block;
		width: 4em;
	}
	h4 {
		text-align: center;
		color: $white;
		margin: 0 0 1em;
		@include respond(mobile) {
			color: $light-grey; 
			font-size: 0.8em; 
		}
	}
}


